body{
  
    margin: 0;
   background: url(background.jpg);
    
}

.head{
    margin-top: 1%;
}
.left{
    position: absolute;
    left: 2%;
    width: 10%;
    text-align: center;
}



.mid{
    position: absolute;
    left: 30%;
    color: white;
  width: 40%;
  display: inline-block;
 }

 .right{
    color: white;
    position: absolute;
    right: 6%;
    top: 1rem;
 }

 .click{
    margin-left: 20px;
    font-size: 0.9rem;
    padding: 5px 15px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(96 92 92);
    border-radius: 20px;

}

 .nav{
    display: inline-block;
    font-size: 0.9rem;
    padding: 15px;
}

.nav a{
    color: white;
    text-decoration: none;
    cursor:pointer;
}

.nav:hover a{
        color: rgb(129, 127, 127);
        text-decoration: underline;
    }

    .nav a.navcc{
        color: rgb(129, 127, 127);
        text-decoration: underline;
    }

    

    .click:hover{
        
        background-color: rgb(45, 44, 44);
    }

    .left img {
        width: 60%;
        filter: invert(100%);
    }

    .left div {
        top: 30px;
        color: white;
        font-size: 0.9rem;
        text-align: center;
        line-height: 80%;
    }

    .container{
        border: 1px solid rgb(179, 172, 172);
         border-radius: 20px;
        width: 44%;
        position: absolute;
        top: 20%;
        right: 5%;
    }

    .container h2{
        color:rgb(194, 188, 188);
        text-align: center;
    }

    .group button{
        margin-bottom: 1rem;
        display: block;
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .group input {
        color: rgb(83, 84, 85);
        padding: 1%;
        display: block;
        margin-top: 20px;
       margin-left: auto;
       margin-right: auto;
        width: 70%;
        text-align: center;
    }